<div class="flex mt-16 justify-around">
    <div class="max-w-sm rounded overflow-hidden shadow-lg bg-red-200">
    <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2">Assigned Tasks</div>
        <div class="inline-flex items-center bg-white leading-none text-pink-600 rounded p-2 shadow text-teal text-sm mt-4">
            <span class="inline-flex bg-pink-600 text-white rounded h-6 px-3 justify-center items-center">Assigned</span>
            <span class="inline-flex px-2 text-gray-700">Donec sit amet neque risus. Pellentesque leo mauris, dictum et ligula in.</span>
        </div>

        <div class="inline-flex items-center bg-white leading-none text-pink-600 rounded p-2 shadow text-teal text-sm mt-4">
            <span class="inline-flex bg-pink-600 text-white rounded h-6 px-3 justify-center items-center">Assigned</span>
            <span class="inline-flex px-2 text-gray-700">Donec sit amet neque risus. Pellentesque leo mauris, dictum et ligula in.</span>
        </div>

        <div class="inline-flex items-center bg-white leading-none text-pink-600 rounded p-2 shadow text-teal text-sm mt-4">
            <span class="inline-flex bg-pink-600 text-white rounded h-6 px-3 justify-center items-center">Assigned</span>
            <span class="inline-flex px-2 text-gray-700">Donec sit amet neque risus. Pellentesque leo mauris, dictum et ligula in.</span>
        </div>

        <div class="inline-flex items-center bg-white leading-none text-pink-600 rounded p-2 shadow text-teal text-sm mt-4">
            <span class="inline-flex bg-pink-600 text-white rounded h-6 px-3 justify-center items-center">Assigned</span>
            <span class="inline-flex px-2 text-gray-700">Donec sit amet neque risus. Pellentesque leo mauris, dictum et ligula in.</span>
        </div>
    </div>
    <div class="px-6 py-4">
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">#photography</span>
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">#travel</span>
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700">#winter</span>
    </div>
    </div>



    <div class="max-w-sm rounded overflow-hidden shadow-lg bg-purple-200">
    
    <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2">Tasks in Progress</div>

        <div class="inline-flex items-center bg-white leading-none text-pink-600 rounded p-2 shadow text-teal text-sm mt-4">
            <span class="inline-flex bg-purple-600 text-white rounded h-6 px-3 justify-center items-center">Progress</span>
            <span class="inline-flex px-2 text-gray-700">Donec sit amet neque risus. Pellentesque leo mauris, dictum et ligula in.</span>
        </div>        

        <div class="inline-flex items-center bg-white leading-none text-pink-600 rounded p-2 shadow text-teal text-sm mt-4">
            <span class="inline-flex bg-purple-600 text-white rounded h-6 px-3 justify-center items-center">Progress</span>
            <span class="inline-flex px-2 text-gray-700">Donec sit amet neque risus. Pellentesque leo mauris, dictum et ligula in.</span>
        </div>        

        <div class="inline-flex items-center bg-white leading-none text-pink-600 rounded p-2 shadow text-teal text-sm mt-4">
            <span class="inline-flex bg-purple-600 text-white rounded h-6 px-3 justify-center items-center">Progress</span>
            <span class="inline-flex px-2 text-gray-700">Donec sit amet neque risus. Pellentesque leo mauris, dictum et ligula in.</span>
        </div>                
        
    </div>
    <div class="px-6 py-4">
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">#photography</span>
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">#travel</span>
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700">#winter</span>
    </div>
    </div>



    <div class="max-w-sm rounded overflow-hidden shadow-lg bg-green-200">
    
    <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2">Completed Tasks</div>

        <div class="inline-flex items-center bg-white leading-none text-pink-600 rounded p-2 shadow text-teal text-sm mt-4">
            <span class="inline-flex bg-green-600 text-white rounded h-6 px-3 justify-center items-center">Completed</span>
            <span class="inline-flex px-2 text-gray-700">Donec sit amet neque risus. Pellentesque leo mauris, dictum et ligula in.</span>
        </div>      

        <div class="inline-flex items-center bg-white leading-none text-pink-600 rounded p-2 shadow text-teal text-sm mt-4">
            <span class="inline-flex bg-green-600 text-white rounded h-6 px-3 justify-center items-center">Completed</span>
            <span class="inline-flex px-2 text-gray-700">Donec sit amet neque risus. Pellentesque leo mauris, dictum et ligula in.</span>
        </div>      

        <div class="inline-flex items-center bg-white leading-none text-pink-600 rounded p-2 shadow text-teal text-sm mt-4">
            <span class="inline-flex bg-green-600 text-white rounded h-6 px-3 justify-center items-center">Completed</span>
            <span class="inline-flex px-2 text-gray-700">Donec sit amet neque risus. Pellentesque leo mauris, dictum et ligula in.</span>
        </div>      
    </div>
    <div class="px-6 py-4">
        <span class="inline-block bg-gray-200 rounded-full b-px-3 py-1 text-sm font-semibold text-gray-700 mr-2">#photography</span>
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">#travel</span>
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700">#winter</span>
    </div>
    </div>
</div>
