<% if notice %>
  <div class="p-2 text-center">
    <div class="inline-flex items-center bg-white leading-none text-purple-600 rounded-full p-2 shadow text-teal text-sm">
      <span class="inline-flex bg-indigo-600 text-white rounded-full h-6 px-3 justify-center items-center">Notification</span>
      <span class="inline-flex px-2"><%= notice %> </span>
    </div>
  </div>
<% end %>

<% if alert %>
    <div class="p-2 text-center">
    <div class="inline-flex items-center bg-white leading-none text-pink-600 rounded-full p-2 shadow text-teal text-sm">
      <span class="inline-flex bg-pink-600 text-white rounded-full h-6 px-3 justify-center items-center">Error</span>
      <span class="inline-flex px-2"><%= alert %></span>
    </div>
  </div>
<% end %>

